<div class="card shadow">
    <h1 class="card-header">
        Accounts
    </h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Name</th>
                <th scope="col">Birthday</th>
                <th scope="col">Permission</th>
            </tr>
        </thead>
        <tbody>
            {{#each this.accounts}}
            <tr>
                <td>{{username}}</td>
                <td>{{email}}</td>
                <td>{{name}}</td>
                <td>{{dob}}</td>
                <td>{{permission}}</td>
                <td class="text-right">
                    <a class="btn btn-primary btn-sm" href="/account/delete/{{username}}" role="button">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            {{/each}}

        </tbody>
    </table>
</div>