<div class="row">
    <div class="col-sm-4">
        <div class="card text-center">
            <div class="card-body">
                <img style="border-radius: 50%; width: 200px; height: 200px;"
                    src="http://thuthuatphanmem.vn/uploads/2018/04/10/avatar-doi-dep-1_015655450.jpg" alt="">
                <h4 class="card-title font-weight-bold" style="text-align: center; color: #00A9EB">{{authUser.name}}
                </h4>
                <p class="card-text font-weight-bold" style="text-align: center; color: #7A001F">User {{authUser.type}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center">Thông tin tài khoản</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <i class="fa fa-id-card" aria-hidden="true"></i>
                        <b>Mã tài khoản:</b> {{authUser.id}}
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <b>Tên đăng nhập:</b> {{authUser.username}}
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-address-book" aria-hidden="true"></i>
                        <b>Tên hiển thị:</b> {{authUser.name}}
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-inbox" aria-hidden="true"></i>
                        <b>Eamil:</b> {{authUser.email}}
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <b>Ngày sinh:</b> {{ myDatetime authUser.dob}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>