{{#section 'css'}}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}


{{#section 'js'}}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script>
    $(function () {
        $('#txtDOB').datetimepicker({
            format: 'd/m/Y',
        });
    })
</script>
{{/section}}
<div class="card shadow">
    <div class="card-header">
        <h4>
        Chỉnh sửa tài khoản người dùng
        </h4>
    </div>
    <div class="card-body">
        {{#if this.error}}
        <div class="alert alert-danger" role="alert">
            Invalid UserID. <a href="/admin/accountManage" class="alert-link">Go back</a>.
        </div>
        {{else}}
        <form method="POST" action="/admin/accountManage/update">
        <div class="row">
    <div class="col">
        
      <div class="form-group">
                <label for="txtUserID"><b>#</b></label>
                <input readonly type="text" class="form-control" id="txtUserID" name="UserID"
                    value="{{this.accountManage.UserID}}">
            </div>
             <div class="form-group">
                <label for="name"><b>Tên</b></label>
                <input autofocus type="text" class="form-control" id="name" name="name"
                    value="{{this.accountManage.name}}">
            </div>
            <div class="form-group">
                <label for="email"><b>email</b></label>
                <input  type="text" class="form-control" id="email" name="email"
                    value="{{this.accountManage.email}}">
            </div>
           
             <div class="form-group">
                <label for="dob"><b>Ngày sinh</b></label>
                <input  type="text" class="form-control" id="txtDOB" name="dob"
                value="{{DateFormat this.accountManage.dob}}">
            </div>
            

    </div>
    
            
             
    <div class="col">
     <div class="form-group">
                <label for="username"><b>Tên tài khoản</b></label>
                <input readonly type="text" class="form-control" id="username" name="username"
                    value="{{this.accountManage.username}}">
           
    </div>
    <div class="form-group">
                <label for="type"><b>Loại</b></label>
                <input  type="text" class="form-control" id="type" name="type"
                    value="{{this.accountManage.type}}">
            </div>
         
            
            <div class="form-group">
                <label for="status"><b>Trạng thái</b></label>
                <select class="custom-select" name='status'>
                     
                    <option {{{select 0 this.accountManage.status}}} value='0' >Active</option>
                    <option {{{select 1 this.accountManage.status}}} value='1'>Block</option>
                </select>
                
            </div>
            <div class="form-group">
                <label for="date_register"><b>Ngày đăng kí</b></label>
                <input readonly type="text" class="form-control" id="date_register" name="date_register"
                    value="{{DateFormat this.accountManage.date_register}}">
            </div>
  </div>
  </div>
           
            <a class="btn btn-primary" href="/admin/accountManage" role="button">
                <i class="fa fa-backward" aria-hidden="true"></i>
                List
            </a>
            <button type="submit" class="btn btn-danger" formaction="/admin/accountManage/delete">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
                Delete
            </button>
            <button type="submit" class="btn btn-success">
                <i class="fa fa-check" aria-hidden="true"></i>
                Save
            </button>
        </form>
        {{/if}}



    </div>
</div>