<div class="card shadow">
    <h1 class="card-header">
        Quản lý người dùng
    </h1>
    <div class="card-header" style="float: right">
         <span   scope="col" class="text-right">
                    <a class="btn btn-outline-success" href="/admin/account/GiaHan" role="button">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Phân công chuyên mục
                    </a>
                </span>
        <span  style="margin-right:30px" scope="col" class="text-right ">
                    <a class="btn btn-outline-success" href="/admin/account/GiaHan" role="button">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Duyệt tài khoản
                    </a>
                </span >
                <span style="margin-right:30px"  scope="col" class="text-right">
                    <a class="btn btn-outline-success" href="/admin/accountManage/GiaHan" role="button">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Gia hạn tài khoản
                    </a>
                </span>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="text-center" scope="col">#</th>
                <th scope="col">Tên người dùng</th>
                 <th scope="col">Họ tên</th>
                  <th scope="col">Phân hệ</th>
                   <th scope="col">Trạng thái</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each this.accountManage}}
            <tr>
                <th class="text-center" scope="row">{{id}}</th>
                <td>{{username}}</td>
                 <td>{{name}}</td>
                  <td>{{type}}</td>
                   <td style="color: {{{Mau this.status}}}"> {{{TrangThai this.status}}}</td>
                <td class="text-right">
                     
                    <a class="btn btn-primary btn-sm" href="/admin/accountManage/edit/{{id}}" role="button">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            {{/each}}

        </tbody>
    </table>
</div>