{{#section 'css'}}

{{/section}}

{{#section 'js'}}

{{/section}}

<div class="row w-100 m-3" style="justify-content: center">
    <h4 style="margin: 0 3px" role="button">Xuất bản bài viết</h4>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th class="text-center" scope="col">#</th>
            <th scope="col">Tiêu đề</th>
            <th style="width: 7rem" scope="col">Danh mục</th>
            <th scope="col">Ngày</th>
            <th scope="col">Mô tả ngắn</th>
            <th style="width: 10rem" scope="col">Biên tập viên</th>
            <th style="width: 10rem" scope="col">Trạng thái</th>
            <th style="width: 8rem" scope="col" class="text-right">
                <i class="fa fa-newspaper" aria-hidden="true"></i>
                Xuất bản
            </th>
        </tr>
    </thead>
    <tbody>
        <form method="POST">
            {{#each this.listPost}}
            <tr>
                <th class="text-center" scope="row">{{PostID}}</th>
                <td>{{title}}</td>
                <td>{{CatName}}</td>
                <td>{{myDatetime date}}</td>
                <td>{{moTaNgan}}</td>
                <td>{{name}}</td>
                <td>{{trangThai}}</td>
                <td class="text-right">
                    <button type="submit" class="btn btn-outline-success btn-sm" formaction="/admin/post/{{PostID}}">
                        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                        Xuất bản
                    </button>
                </td>
                {{/each}}
        </form>

    </tbody>
</table>